@import "../../global/mixins.scss";

.block_products {
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 0% !important;
    border-radius: 3px;

    h3 {
        font-size: 22px !important;
        margin: 0% 0 0 1% !important;
    }

    .headd {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 1rem 1rem 10px 10px;

        div {
            width: max-content;
        }

        button {
            text-align: nowrap;
            word-wrap: normal;
            padding: 0 1rem 0% 1rem;
            width: max-content;
            height: 35px;
            background: none;
            background: rgb(226, 225, 225);
            color: black;
            font-size: 15px;
            border-radius: 30px;
            margin-left: 1%;
            display: flex;
            align-items: center;
        }

        button:first-child {
            padding: 0 2rem 0 2rem;
            background: rgb(15, 71, 239);
            color: white;
        }

        button:hover {
            background: rgba(15, 71, 239, 0.281);
        }

        .view-more-btn:last-child {
            background: none;
            border: 1px solid rgb(15, 71, 239);
            color: rgb(15, 71, 239);
            float: right;
        }

        button:last-child svg {
            font-size: 20px;
        }

        @include tablet {
            button {
                &:not(:first-child) {
                    display: none !important;
                }
            }
        }
    }

    .div-prod-official {
        padding-bottom: 0%;
        width: 100%;
        height: max-content;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;
        padding: 0 1rem 0 1rem !important;
        border: none !important;
        margin-top: 1.1rem;

        @include desktop_md {
            grid-template-columns: repeat(4, 1fr);
        }

        @include tablet {
            grid-template-columns: repeat(3, 1fr);
        }

        @include phone {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    #btns {
        height: 40px;
        width: 150px;
        font-size: 16px;
        color: rgb(15, 71, 239);
        border: 1px solid rgb(15, 71, 239);
        background: none;
        border-radius: 30px;
        margin-left: 42%;
        margin-top: 4rem;
        margin-bottom: 3rem;
    }

    #btns:hover {
        background: rgba(15, 71, 239, 0.281);
    }
}