@import '~antd/dist/antd.css';


.App {
  height: 96%;
  /* max-width: 50%; */
  /*flex: 1 1 auto;*/
}



Form {
  max-width: 800px;
  max-width: 80%;
}

html,
body {
  height: 100%;
  margin: 0;
}

.Info {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 800px;
  max-width: 80%;
}

.noApiKeyLabel {
  min-height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.spanAsLink {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}