.section2 {
    margin-top: 8%;
    padding: 0%;
}


.section3 .contain {
    flex-direction: row-reverse;
}

.section4 .contain {
    text-align: center;
    width: 50%;
    flex-direction: column;
}

.section4 .contain div p {
    text-align: center;
    margin-bottom: 6%;
}

.section4 .contain div {
    width: 100%;
}

@media screen and (max-width: 778px) {
    .section3 .contain {
        flex-direction: column-reverse;
    }

    .section4 .contain {
        width: 85%;
    }
}