.cate-card-section {
  background: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.04) !important;
  border-radius: 5px;
  border: solid 1px #ddd;
  padding: 20px;
  img {
    width: 100%;
    height: 150px;
  }
}
