:root{
 --red-color: #f52020;
 --red-hover-transparent-color: #ff000022;
 --link-color: #353232;
 --blue-color: #1f53ff;
 --blue-hover-color: #6d86ff;
 --blue-hover-transparent-color: #0040ff35;
 --gray-100-color: #e2e2e2;
 --gray-300-color: #b4b4b4;
 --red-400-color: #c70707;
 --gray-400-color: #626262;
 --green-300-color: #1bae1b;
 --gray-input-color: #f5f5f5;
}