.section2 {
    margin-top: 10%;
}

.div2 {
    width: 45%;
    margin: 10% auto 0%;
    position: relative;
}

.div2 div {
    width: 30%;
    position: absolute;
    top: -3%;
    right: -3%;
}

.div2  img {
    width: 100%;
}
.text {
    width: 60%;
    margin: auto;
    padding: 1%;
    background-color: rgb(232, 243, 255);
    border-radius: 4px;
    box-shadow: 0 0 5px rgb(232, 243, 255);
}

.div3  {
    width: 80%;
    height: 400px;
    margin: 8% auto 4%;
    position: relative;
    text-align: center;
}


.div3 img {
    width: 50%;
    height: 100%;
}

.div3 .divs  {
    width: 65%;
    position: absolute;
    top: 80%;
    left: 40%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2% !important;
    text-align: start;
}

.divs h3 {
    font-size: 1.5rem !important;
}

.div3 .divs h3 span{
    font-size: 1.5rem !important;
    color: var(--red-color);
}


.div4  {
    width: 60%;
    height: 320px;
    margin: 13% auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.364);
    background-color: var(--sky-blue);
}

.div4 div  {
    width: 50%;
    text-align: center;
    height: 100% !important;
    position: relative;
}

.div4 img {
    width: 50%;
    height: 100%;
}

.div4 div {
    padding: 5rem 0 16.1%;
}

.div4 div button {
    border-radius: 30px;
    border: 1px solid var(--red-color);
    color: var(--red-color);
    width: 130px !important;
    height: 40px;
    font-weight: 600;
    font-size: 15px;
    margin-top: 1rem;
}

.div4 div button:hover  {
    background-color: rgba(233, 60, 60, 0.212);
}

.div4 div h2 {
    margin-bottom: 3%;
}

.div4 div h2 span {
    color: var(--red-color);
}


.div4 div:last-child::before {
    content: "";
    position: absolute;
    top: 0%;
    right: 0%;
    background: var(--red-color);
    width: 20%;
    height: 20%;
    border-bottom-left-radius: 70px;
}

@media screen and (max-width: 1025px) {
    .div3 {
        width: 100%;
    }
}

@media screen and (max-width: 778px) {
    .div4 {
        width: 75%;
        height: 300px;
    }

    .div2 {
        width: 80%;
    }

    .text {
        width: 80%;
    }

    .div3 {
        margin-bottom: 10rem !important;
    }

    .div3 img {
        width: 70%;
    }

    .div3 .divs {
        width: 70%;
    }
}

@media screen and (max-width: 620px) {
    .div4 {
        width: 70%;
        height: max-content;
        flex-direction: column;
    }

    .div4 img, 
    .div4 div {
        width: 100%;
    }

    .div4 div {
        padding-top: 2rem;
    }

    
.div4 div:last-child::before {
    display: none;
}
}